{% load static %}
<!--Footer Grid Section -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <a target="_blank" href="https://www.facebook.com/musicasacrastpoelten">
            <img src="{{ MEDIA_URL }}icons/fb.svg"/>
        </a>
        <a target="_blank" href="https://www.instagram.com/musicasacrastpoelten/">
            <img src="{{ MEDIA_URL }}icons/insta.svg"/>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="copyright text-center text-dark p-3">
      © 2022 Musica Sacra | <a href="{% url 'impressum_view' %}">Impressum</a>
    </div>
    <!-- Copyright -->
  </footer>