{% load static %}
<!--Footer Grid Section -->
<footer class="text-center text-white">
    <!-- Grid container Sponsors-->
    <div class="footer-grid-sacra">
        <img src="{% static 'img/footer/01.png' %}" alt="">
        <img src="{% static 'img/footer/02.png' %}" alt="">
        <img src="{% static 'img/footer/03.png' %}" alt="">
        <img src="{% static 'img/footer/04.png' %}" alt="">
        <a target="_blank" href="https://www.wst-versicherungsverein.at">
        <img src="{% static 'img/footer/05_new.png' %}" alt="">
        </a>
        <img src="{% static 'img/footer/06.png' %}" alt="">
        <img src="{% static 'img/footer/07.png' %}" alt="">
        <img src="{% static 'img/footer/08.png' %}" alt="">
        <img src="{% static 'img/footer/09.png' %}" alt="">
        <img src="{% static 'img/footer/10.png' %}" alt="">
        <img src="{% static 'img/footer/11.png' %}" alt="">
        <img src="{% static 'img/footer/12.png' %}" alt="">
        <img src="{% static 'img/footer/13.png' %}" alt="">
        <img src="{% static 'img/footer/14.png' %}" alt="">
        <img src="{% static 'img/footer/15_new.png' %}" alt="">
        <img src="{% static 'img/footer/16.png' %}" alt="">
    </div>
    <!-- Grid container -->
    <div class="container pt-4 social-media">
      <!-- Section: Social media -->
      <section class="mb-4">
        <a target="_blank" href="https://www.facebook.com/musicasacrastpoelten">
          <img src="{% static 'img/icons/fb.svg' %}" alt="">
        </a>
        <a target="_blank" href="https://www.instagram.com/musicasacrastpoelten/">
            <img src="{% static 'img/icons/insta.svg' %}" alt="">
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Copyright -->
    <div class="copyright text-center text-dark p-3">
      © 2024 Musica Sacra | <a href="{% url 'impressum_view' %}">Impressum</a>
    </div>
    <!-- Copyright -->
  </footer>