{% load static %}
<!--Footer Grid Section -->
<footer class="text-center text-white">
    <!-- Grid container Sponsors-->
    <div class="footer-grid-sacra">
        <img src="{{ MEDIA_URL }}footer/01.png" alt="">
        <img src="{{ MEDIA_URL }}footer/02.png" alt="">
        <img src="{{ MEDIA_URL }}footer/03.png" alt="">
        <img src="{{ MEDIA_URL }}footer/04.png" alt="">
        <img src="{{ MEDIA_URL }}footer/05.png" alt="">
        <img src="{{ MEDIA_URL }}footer/06.png" alt="">
        <img src="{{ MEDIA_URL }}footer/07.png" alt="">
        <img src="{{ MEDIA_URL }}footer/08.png" alt="">
        <img src="{{ MEDIA_URL }}footer/09.png" alt="">
        <img src="{{ MEDIA_URL }}footer/10.png" alt="">
        <img src="{{ MEDIA_URL }}footer/11.png" alt="">
        <img src="{{ MEDIA_URL }}footer/12.png" alt="">
        <img src="{{ MEDIA_URL }}footer/13.png" alt="">
        <img src="{{ MEDIA_URL }}footer/14.png" alt="">
        <img src="{{ MEDIA_URL }}footer/15.png" alt="">
        <img src="{{ MEDIA_URL }}footer/16.png" alt="">
    </div>
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <a target="_blank" href="https://www.facebook.com/musicasacrastpoelten">
            <img src="{{ MEDIA_URL }}icons/fb.svg"/>
        </a>
        <a target="_blank" href="https://www.instagram.com/musicasacrastpoelten/">
            <img src="{{ MEDIA_URL }}icons/insta.svg"/>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Copyright -->
    <div class="copyright text-center text-dark p-3">
      © 2022 Musica Sacra | <a href="{% url 'impressum_view' %}">Impressum</a>
    </div>
    <!-- Copyright -->
  </footer>