<header class="d-flex flex-wrap justify-content-center py-4 mb-4">
    <a id="sacraHamburger" onclick="openNav()">
        {% include "svg/hamburger.html" %}
    </a>
    <a href="{% url 'home_view' %}" class="d-flex align-items-center mb-4 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">{% include "svg/logo.html" %}</span>
    </a>

    <ul class="nav nav-pills text-black">
      <li class="nav-item"><a id="programm" href="{% url 'program_view' %}" class="nav-link {% if request.resolver_match.view_name == 'program_view' %}active{% endif %}">Programm</a></li>
      <li class="nav-item"><a id="ueber-uns" href="{% url 'about_view' %}" class="nav-link {% if request.resolver_match.view_name == 'about_view' %}active{% endif %}">Über Uns</a></li>
      <li class="nav-item"><a id="kontakt" href="{% url 'contact_view' %}" class="nav-link {% if request.resolver_match.view_name == 'contact_view' %}active{% endif %}">Karten & Kontakt</a></li>
    </ul>
    <div id="sacra-nav-mobile-menu" class="mobileSacraNav">
        <ul id="navMobileItems" class="nav nav-pills text-black">
            <span id="menuIcon" onclick="closeNav()">
                {% include "svg/crossburger.html" %}
            </span>
            <li class="nav-item"><a id="programm" href="{% url 'program_view' %}" class="nav-link {% if request.resolver_match.view_name == 'program_view' %}active{% endif %}">Programm</a></li>
            <li class="nav-item"><a id="ueber-uns" href="{% url 'about_view' %}" class="nav-link {% if request.resolver_match.view_name == 'about_view' %}active{% endif %}">Über Uns</a></li>
            <li class="nav-item"><a id="kontakt" href="{% url 'contact_view' %}" class="nav-link {% if request.resolver_match.view_name == 'contact_view' %}active{% endif %}">Karten & Kontakt</a></li>
        </ul>
        </div>
  </header>

