{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
<!-- HTML Meta Tags -->
<title>Alles über das Musik-Festival Musica Sacra</title>
<meta name="description" content="Alles über das Musik-Festival Musica Sacra - Mitwirkende, kurze Presseinformation, Hintergrundinformationen">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Alles über das Musik-Festival Musica Sacra">
<meta itemprop="description" content="Alles über das Musik-Festival Musica Sacra - Mitwirkende, kurze Presseinformation, Hintergrundinformationen">
<meta itemprop="image" content="{% static 'meta/sacra.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at">
<meta property="og:type" content="website">
<meta property="og:title" content="Alles über das Musik-Festival Musica Sacra">
<meta property="og:description" content="Alles über das Musik-Festival Musica Sacra - Mitwirkende, kurze Presseinformation, Hintergrundinformationen">
<meta property="og:image" content="{% static 'meta/sacra.jpg' %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Alles über das Musik-Festival Musica Sacra">
<meta name="twitter:description" content="Alles über das Musik-Festival Musica Sacra - Mitwirkende, kurze Presseinformation, Hintergrundinformationen">
<meta name="twitter:image" content="{% static 'meta/sacra.jpg' %}">
{% endblock %}


{% block body %}

<h1>Über Uns</h1>

<div class="justify-text">
    <p>Zwischen 8. bis 22. September 2024 lockt das Festival Musica Sacra wieder nach St. Pölten, Herzogenburg und Lilienfeld. In der 51. Festivalsaison präsentiert das älteste Festival für Sakralmusik in Niederösterreich ein sehr attraktives und abwechslungsreiches Musikprogramm auf hohem künstlerischem Niveau und betritt mit Domkapellmeister Valentin Kunert als künstlerischem Leiter neue musikalische Pfade. Der Intendant stellte sich bei der Zusammenstellung des Programms in diesem Jahr zwei Fragen: Gibt es eine Trennlinie zwischen sakraler und weltlicher Musik? Und wie spirituell kann eine Symphonie Gustav Mahlers sein? Die Auslotung dieser unscharfen Trennlinie spiegelt sich in den Konzerten wider.</p>

    <p>Den glanzvollen Auftakt am 8. September mit Arthur Honeggers packendem Oratorium „König David“ gestaltet die Domkantorei St. Pölten und das Johann-Strauß-Ensemble, das sich aus hervorragenden Musikern des Bruckner Orchesters zusammensetzt. Die Solopartien übernehmen die international angesagten Opernsängerinnen Christina Gansch und Mezzosopranistin Marie Seidler sowie der in allen Stilen beheimatete Tenor Bernhard Berchtold. Mit der Partie des Erzählers leitet der österreichische Star-Schauspieler und Regisseur Karl Markovics durch das biblische Drama, welcher mit zahlreichen internationalen Preisen ausgezeichnet wurde: darunter der Österreichische Musiktheaterpreis, der Deutsche Schauspielpreis, der Österreichische Filmpreis und der Prix Europa Cinemas Label (64. Filmfest in Cannes).</p>

    <p>Weitere hervorragende Künstler sind in diesem Jahr u.a. der österreichische Cellist Matthias Bartolomey, der als Grenzgänger zwischen Klassik und Jazz mit dem Preis der Deutschen Schallplattenkritik ausgezeichnet wurde. Der Osnabrücker Domorganist Balthasar Baumgartner wird mit einer Hommage an Anton Bruckner und Franz Schmidt die Sauer-Orgel in der Prandtauer-Kirche erklingen lassen, die erstmals als Spielort im Rahmen des Festivals ihren Platz hat. Das Wiener Glasharmonika Duo, welches bereits an unzähligen internationalen Bühnen wie z.B. der Royal Albert Hall, der Wiener Staatsoper und dem Konzerthaus Berlin gastierte, entführt mit ihren Instrumenten im Stift Herzogenburg in eine exotische und geheimnisvolle Klangwelt aus Glas. Begleitet wird es von Instrumentalisten des Mozarteum Orchesters.</p>

    <p>Auch für Kinder und Familien wird es ein heiteres Orgel-Erzähltheater geben: Johann Sebastian Bach steigt dazu in Noahs Arche.</p>

    <p>Musik der Romantik ist bestens vertreten, wenn im Abschlusskonzert Max Bruchs Solo-Konzertstück „Kol Nidrei“ für Violoncello und Orchester und Gustav Mahlers 4. Symphonie erklingt. Mit dabei noch einmal die Weltklasse-Sopranistin Christina Gansch, die regelmäßig an Opernhäusern wie dem Royal Opera House Covent Garden, der San Francisco Opera, der Mailänder Scala und bei den Salzburger Festspielen zu erleben. Beim 51. Festival ist sie gleich an zwei Abenden in St. Pölten.</p>
</div>

{% endblock %}
{% block footer %}

{% endblock %}