{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
<!-- HTML Meta Tags -->
<title>Alles über das Musik-Festival Musica Sacra</title>
<meta name="description" content="Alles über das Musik-Festival Musica Sacra - Mitwirkende, kurze Presseinformation, Hintergrundinformationen">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Alles über das Musik-Festival Musica Sacra">
<meta itemprop="description" content="Alles über das Musik-Festival Musica Sacra - Mitwirkende, kurze Presseinformation, Hintergrundinformationen">
<meta itemprop="image" content="{% static 'meta/sacra.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at">
<meta property="og:type" content="website">
<meta property="og:title" content="Alles über das Musik-Festival Musica Sacra">
<meta property="og:description" content="Alles über das Musik-Festival Musica Sacra - Mitwirkende, kurze Presseinformation, Hintergrundinformationen">
<meta property="og:image" content="{% static 'meta/sacra.jpg' %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Alles über das Musik-Festival Musica Sacra">
<meta name="twitter:description" content="Alles über das Musik-Festival Musica Sacra - Mitwirkende, kurze Presseinformation, Hintergrundinformationen">
<meta name="twitter:image" content="{% static 'meta/sacra.jpg' %}">
{% endblock %}


{% block body %}

<h1>Über Uns</h1>

<div class="justify-text">
    <p>Die Konzerte finden in einem außergewöhnlichen Ambiente statt: Glanzpunkte der abendländischen Kirchen- und Klosterbaukunst bilden einen würdigen Rahmen für die erlesenen Aufführungen und machen so das Festival zu einem Gesamtkunstwerk mit Seltenheitswert. Repräsentative Gestaltungen von Sonntagsgottesdiensten in den Klosterkirchen runden das exklusive Programm ab.</p>
    <p>Gemäß dem thematischen Schwerpunkt des vergangenen Festivals Musica Sacra wird im heurigen Festival 2023 die Gegenüberstellung einer historisch inspirierten Aufführung durch Otto Kargl und der Cappella Nova Graz von zwei Bach Kantaten versus Aufführung und zeitgenössischen „Einkleidung“ durch Wolfgang Mitterer mit dem Jakob Prandtauer Ensemble und den Improvisatoren Wolfgang Puschnig, Matthias Bartolomey und Ludwig Lusser erlebbar sein. Ergänzt wird dieses Paar an Bach-Abenden durch ein Bach Arien-Konzert mit Christina Gansch und dem Trompeter Gabor Tarkövi mit Ludwig Lusser an der Domorgel und dem das Festival abschließenden Orgel-Abend mit dem holländischen Organisten Pieter van Dijk, der sein Konzert ganz den Orgelwerken Johann Sebastian Bach’s widmet.
        Eröffnet wird das Festival Musica Sacra 2023 mit dem Oratorium „Die Schöpfung“ von Joseph Haydn, der dieses Werk am Höhepunkt seiner kompositorischen Entwicklung und nach intensiven Studien an Werken Johann Sebastian Bach’s geschaffen hat. Der Schöpfungsakt wird damit ebenso ins Zentrum gerückt wie auch die Unterschiedlichkeit menschlicher (kompositorischer) und göttlicher Schaffenskraft. Die göttliche Schöpfungskraft, wie Arnold Schönberg ernüchternd feststellte, unterscheidet sich von der menschlichen, sei sie auch von noch so großer Genialität, dadurch, dass Gott sprach: Es werde Licht, und es ward licht, wie es am Beginn von Haydn’s Oratorium erklingt, in vollendeter Pracht und sofort. Die menschlichen Schöpfer (Komponisten) müssen laut Schönberg die Ernte im Schweiße ihres Angesichts mühevoll einbringen.</p>
</div>
{% endblock %}
{% block footer %}

{% endblock %}