{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
<meta name="title" content="Musik- und Kunschule St. Pölten | Musikunterricht in St. Pölten">
<meta name="description" content="Erfolgreicher Musikunterricht für St. Pölten. Besuchen Sie uns und unsere Musiklehrer:innen für eine Vielzahl von Instrumenten und Stilrichtungen.">

<!--- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% endblock %}


{% block body %}

<h1>Cover your page.</h1>

<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>


{% endblock %}
{% block footer %}

{% endblock %}