{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
<meta name="title" content="Musik- und Kunschule St. Pölten | Musikunterricht in St. Pölten">
<meta name="description" content="Erfolgreicher Musikunterricht für St. Pölten. Besuchen Sie uns und unsere Musiklehrer:innen für eine Vielzahl von Instrumenten und Stilrichtungen.">

<!-- Social Media Meta --->
<meta property="og:title" content="Musik- und Kunschule St. Pölten | Musikunterricht in St. Pölten">
<meta property="og:description" content="Erfolgreicher Musikunterricht für St. Pölten. Besuchen Sie uns und unsere Musiklehrer:innen für eine Vielzahl von Instrumenten und Stilrichtungen.">
<meta property="og:image" content="static/thumbnail/facebook/home.jpg">
<meta property="og:url" content="https://musikschule-stp.at/">

<meta name="twitter:title" content="Musik- und Kunschule St. Pölten | Musikunterricht in St. Pölten">
<meta name="twitter:description" content="Erfolgreicher Musikunterricht für St. Pölten. Besuchen Sie uns und unsere Musiklehrer:innen für eine Vielzahl von Instrumenten und Stilrichtungen.">
<meta name="twitter:image" content="static/thumbnail/twitter/home.jpg">
<meta name="twitter:card" content="summary_large_image">

{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}
{% endblock %}

{% block body %}


<div class="container"></div>

{% endblock %}
{% block footer %}

{% endblock %}