{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
<!-- HTML Meta Tags -->
<title>Festival Musica Sacra</title>
<meta name="description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="null">
<meta itemprop="description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra.">
<meta itemprop="image" content="{% static 'meta/sacra.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at">
<meta property="og:type" content="website">
<meta property="og:title" content="Musikfestival Musica Sacra">
<meta property="og:description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra.">
<meta property="og:image" content="{% static 'meta/sacra.jpg' %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Musikfestival Musica Sacra">
<meta name="twitter:description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra.">
<meta name="twitter:image" content="{% static 'meta/sacra.jpg' %}">
{% endblock %}


{% block body %}

<h1>Coming soon</h1>

<p>
    Hier entsteht in Kürze die neue Webpräsenz des Musikfestivals Musica Sacra.
<p>
<br>
<h2>Kontakt</h2>

<p>Bitte kontaktieren Sie uns per Mail: </p>
<p><a href="mailto:office@festival-musica-sacra.at">office@festival-musica-sacra.at</a></p>
<p>telefonisch unter: 0677 / 61 27 44 62</p>

{% endblock %}
{% block footer %}

{% endblock %}