{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
<!-- HTML Meta Tags -->
<title>Impressum Musik-Festival Musica Sacra</title>
<meta name="description" content="Impressum des Musik-Festival Musica Sacra - Rechtliche Hinweise, Haftung und Copyrights">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Impressum Musik-Festival Musica Sacra">
<meta itemprop="description" content="Impressum des Musik-Festival Musica Sacra - Rechtliche Hinweise, Haftung und Copyrights">
<meta itemprop="image" content="{% static 'meta/sacra.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at">
<meta property="og:type" content="website">
<meta property="og:title" content="Impressum Musik-Festival Musica Sacra">
<meta property="og:description" content="Impressum des Musik-Festival Musica Sacra - Rechtliche Hinweise, Haftung und Copyrights">
<meta property="og:image" content="{% static 'meta/sacra.jpg' %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Impressum Musik-Festival Musica Sacra">
<meta name="twitter:description" content="Impressum des Musik-Festival Musica Sacra - Rechtliche Hinweise, Haftung und Copyrights">
<meta name="twitter:image" content="{% static 'meta/sacra.jpg' %}">
{% endblock %}


{% block body %}

<h1>Impressum</h1>

<div>
<h2>Für den Inhalt verantwortlich</h2>
<p>Verein zur Veranstaltung Internationaler Kirchenmusiktage in Niederösterreich</p>
<p>Prandtauerstraße 2, A-3100 St. Pölten</p>
<p>T: +43 677 612 744 62</p>
<p>E: <a href="mailto:office@festival-musica-sacra.at">office@festival-musica-sacra.at</a></p>
<p>Geschäftsführung: Mag. Alfred Kellner, PhD und Mag. Ludwig Lusser</p>
<br>
<h2>Grafik</h2>
<p>Veronika Grigkar</p>
<p><a target="_blank" href="http://grigkar.de/">veronika-vienna.com</a></p>
<h2>Webdesign und Backend-Programmierung</h2>
<p>Lukas Schönsgibl</p>
<p><a target="_blank" href="https://schoensgibl.com">schoensgibl.com</a></p>
</div>
{% endblock %}
{% block footer %}

{% endblock %}