{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
{% load thumbnail %}

<!-- HTML Meta Tags -->
<title>Musik-Festival Musica Sacra</title>
<meta name="description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra - Konzerte und Gottesdienste in St. Pölten, Lilienfeld und Herzogenburg.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Musik-Festival Musica Sacra">
<meta itemprop="description" content="Die offizielle Webpräsenz des Musik-Festivals Musica Sacra - Konzerte und Gottesdienste in St. Pölten, Lilienfeld und Herzogenburg.">
<meta itemprop="image" content="{% static 'meta/sacra_24.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at">
<meta property="og:type" content="website">
<meta property="og:title" content="Musik-Festival Musica Sacra">
<meta property="og:description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra - Konzerte und Gottesdienste in St. Pölten, Lilienfeld und Herzogenburg.">
<meta property="og:image" content="{% static 'meta/sacra_24.jpg' %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Musik-Festival Musica Sacra">
<meta name="twitter:description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra - Konzerte und Gottesdienste in St. Pölten, Lilienfeld und Herzogenburg.">
<meta name="twitter:image" content="{% static 'meta/sacra_24.jpg' %}">
{% endblock %}

{% block slider %}

<slider id="homebanner">
    <slide><p></p></slide>
    <slide><p></p></slide>
    <slide><p></p></slide>
    <slide><p></p></slide>

</slider>
{% endblock %}

{% block body %}

{% if alert_message %}

{% if alert_title or alert_message %}
<div class="alert-overlay">
    <div class="alert-content">
        <h2>{{ alert_title }}</h2>  <!-- Der Titel als Überschrift -->
        <p>{{ alert_message }}</p>   <!-- Der Nachrichtentext -->
    </div>
</div>
<script>
    // Alert automatisch nach 10 Sekunden ausblenden
    setTimeout(function() {
        document.querySelector('.alert-overlay').style.display = 'none';
    }, 10000);
</script>
{% endif %}



<script>
    // Alert automatisch nach 10 Sekunden ausblenden
    setTimeout(function() {
        document.querySelector('.alert-overlay').style.display = 'none';
    }, 10000);
</script>
<style>
.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);  /* Leicht transparentes dunkles Overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert-content {
    background-color: white;  /* Weißer Hintergrund */
    padding: 30px;
    border-radius: 20px;  /* Mehr abgerundete Ecken */
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);  /* Weicherer, tieferer Schatten */
    max-width: 800px;  /* Maximalbreite, um den Text besser zu strukturieren */
    margin: 0 20px;  /* Leichter Rand für kleinere Bildschirme */
}

.alert-content h2 {
    margin: 0 0 15px;
    font-size: 2.5em;  /* Größere Schrift für den Titel */
    color: #333;  /* Ein etwas weicheres Schwarz */
    font-weight: bold;
}

.alert-content p {
    font-size: 1.2em;
    color: #555;  /* Dunkelgrauer Text für eine weichere Wirkung */
    line-height: 1.6;  /* Bessere Lesbarkeit durch erhöhten Zeilenabstand */
}

@media (max-width: 600px) {
    .alert-content {
        padding: 20px;
    }
    
    .alert-content h2 {
        font-size: 1.8em;  /* Kleinere Schrift auf mobilen Geräten */
    }
    
    .alert-content p {
        font-size: 1em;
    }
}

    
</style>
{% endif %}


<h1 id="welcome-index-heading">Festival Musica Sacra</h1>

{{ index_text.content.html|safe }}

{% if events %}

<h2>Konzerte</h2>

<div class="events-index-grid">
    {% for event in events %}
    <a href="/{{event.published_year}}/{{event.slug}}">
    <div {% if event.image_thumb %}
    {% thumbnail event.image_thumb "950x950" crop="center" format="JPEG" as im %}
        style="background: url({{ im.url }}); background-size: cover; background-position: center;"
    {% endthumbnail %}
    {% elif event.image %}
    {% thumbnail event.image "950x950" crop="center" format="JPEG" as im %}
        style="background: url({{ im.url }}); background-size: cover; background-position: center;"
    {% endthumbnail %}
    {% endif %}>
    </div>
    <h3>{{ event.name }}</h3>
    </a>
    {% endfor %}
</div>

{% endif %}

{% if blog_content %}

<h2>Blog Beiträge</h2>

<div class="blog-index-grid">
    {% for blog in blog_content %}
    <a href="blog/{{blog.published_year}}/{{blog.slug}}">
    <div {% if blog.image %} 
    {% thumbnail blog.image "700" crop="center" format="JPEG" as im %} 
    style="background: url({{ im.url }});"
    {% endthumbnail %}
    {% endif %}>
    </div>
    <h3>{{ blog.title }}</h3>
    <p>{{ blog.meta_description|truncatewords:30 }}</p>
    </a>
    {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}
