{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
<!-- HTML Meta Tags -->
<title>Karteninformationen und Preise - Musik-Festival Musica Sacra</title>
<meta name="description" content="Karteninformationen, Preise, Abos sowie Ermäßigungen für Tickets des Musik-Festivals Musica Sacra.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Karteninformationen und Preise - Musik-Festival Musica Sacra">
<meta itemprop="description" content="Karteninformationen, Preise, Abos sowie Ermäßigungen für Tickets des Musik-Festivals Musica Sacra.">
<meta itemprop="image" content="{% static 'meta/sacra_24.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at">
<meta property="og:type" content="website">
<meta property="og:title" content="Musik-Festival Musica Sacra">
<meta property="og:description" content="Karteninformationen, Preise, Abos sowie Ermäßigungen für Tickets des Musik-Festivals Musica Sacra.">
<meta property="og:image" content="{% static 'meta/sacra_24.jpg' %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Musik-Festival Musica Sacra">
<meta name="twitter:description" content="Karteninformationen, Preise, Abos sowie Ermäßigungen für Tickets des Musik-Festivals Musica Sacra.">
<meta name="twitter:image" content="{% static 'meta/sacra_24.jpg' %}">
{% endblock %}

{% block body %}
<h1>Karten & Festival-Pass</h1>

<div class="prices-sacra-grid">
    <div class="prices-circle-section">
        <div class="circle green">A</div>
    </div>
    <div class="prices-abo-section"><p><bold>Festival-Pass</bold> <sup>*</sup></p></div>
    <div class="abo-price-section"><p><bold>150,- EUR</bold></p></div>
    <div class="abo-price-desc"><p>5 Konzerte (inkl. Sitzplatz)</p></div>

    <div class="prices-single-section"><p><bold>Einzelkarte</bold></p></div>
    <div class="single-price-section"><p><bold>39,- EUR</bold></p></div>
    <div class="single-price-desc"><p>Frei Platzwahl innerhalb der Kategorie A und B.</p></div>

</div>

<div class="prices-sacra-grid">
    <div class="prices-circle-section">
        <div class="circle blue">B</div>
    </div>
    <div class="prices-abo-section"><p><bold>Festival-Pass</bold></p></div>
    <div class="abo-price-section"><p><bold>110,- EUR</bold></p></div>
    <div class="abo-price-desc"><p>5 Konzerte (inkl. Sitzplatz)</p></div>

    <div class="prices-single-section"><p><bold>Einzelkarte</bold></p></div>
    <div class="single-price-section"><p><bold>28,- EUR</bold></p></div>
    <div class="single-price-desc"><p>Frei Platzwahl innerhalb der Kategorie B.</p></div>

</div>

<div class="prices-sacra-grid">
    <div class="prices-circle-section">
        <div class="circle yellow">C</div>
    </div>
    <div class="prices-abo-section"><p><bold>Festival-Pass</bold> <sup>*</sup></p></div>
    <div class="abo-price-section"><p><bold>70,- EUR</bold></p></div>
    <div class="abo-price-desc"><p>5 Konzerte (inkl. Sitzplatz mit Sichteinschränkung)</p></div>

    <div class="prices-single-section"><p><bold>Einzelkarte</bold></p></div>
    <div class="single-price-section"><p><bold>19,- EUR</bold></p></div>
    <div class="single-price-desc"><p>Frei Platzwahl innerhalb der Kategorie B und C.</p></div>

</div>

<div class="prices-sacra-grid d">
    <div class="prices-circle-section">
        <div class="circle black">D</div>
    </div>
    <div class="prices-abo-section d"><p><bold>Einzelkarte</bold></p></div>
    <div class="abo-price-section d"><p><bold>5,- EUR</bold></p></div>
    <div class="abo-price-desc"><p>Kinderkonzerte</p></div>

</div>

<ul style="text-align: left;">
    <li><sup>*</sup> Für die Konzerte am 14. und 15. September ist nur Kategorie B verfügbar.</li>
</ul>

<h2>Ermässigungen</h2>
    <ul>
        <li>− 50%: Schüler, Studenten</li>
        <li>− 10 % Ö1 Club-Mitglieder</li>
    </ul>
    <p>Nur eine Ermäßigung pro Ticket möglich.</p>

<h2>Vorverkauf</h2>

<div class="sales">
    <h3>Buchhandlung Schubert</h3>
    <p>Wiener Straße 6</p>
    <p>3100 St. Pölten</p>
    <p>Tel. 02742 / 35 31 89-0</p>
    
    <h3>Stift Lilienfeld</h3>
    <p>Pforte/Klosterrotte 1</p>
    <p>3180 Lilienfeld</p>
    
    <h3>Stift Herzogenburg</h3>
    <p>Klosterladen/Prandtauer Ring 2</p>
    <p>3130 Herzogenburg</p>
    
    <h3>close2fan.com</h3>
    <a href="https://close2fan.com/de?search=Festival+Musica+Sacra+St.+P%C3%B6lten" target="_blank">close2fan.com</a>
    <p>Bis 2 Tage vor dem Konzert bestellen!</p>
    
    <h3>Telefonische Kartenbestellung</h3>
    <p>0677 / 6127 4462</p>
    <p>Bis 1 Woche vor Konzerttermin möglich.</p>
</div>
    
{% endblock %}
{% block footer %}
{% endblock %}
