{% extends "templates/base.html" %}

{% load static %}

{% block extra_head %}
<!-- HTML Meta Tags -->
<title>Festival Musica Sacra</title>
<meta name="description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra.">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="null">
<meta itemprop="description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra.">
<meta itemprop="image" content="{% static 'meta/sacra.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at">
<meta property="og:type" content="website">
<meta property="og:title" content="Musik-Festival Musica Sacra">
<meta property="og:description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra.">
<meta property="og:image" content="{% static 'meta/sacra.jpg' %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Musikfestival Musica Sacra">
<meta name="twitter:description" content="Offizielle Webpräsenz des Musik-Festivals Musica Sacra.">
<meta name="twitter:image" content="{% static 'meta/sacra.jpg' %}">
{% endblock %}


{% block body %}

<section class="events-container-grid">
    <div class="all-events-container">
      {% for category in categories %}
      <h1> {{ category }} </h1>
        {% for event in events %}
         {% if event.category == category%}
            <div class="event-container">
            <div class="sacra-event-date">
              <h3>{{ event.get_date_presentation }}</h3>
            </div>
            <div class="sacra-event-title">
              <h3>{{ event.name }}</h3>
            </div>
            <div class="sacra-event-time">
              <p>{{ event.get_time_presentation }}</p>
            </div>
            <div class="sacra-event-venue">
              <p>{{ event.venue }}</p>
            </div>
          </div>
          {% endif%}

        {% endfor %}

      {% endfor %}

    </section>

{% endblock %}
{% block footer %}

{% endblock %}