{% extends "templates/base.html" %}

{% load static %}
{% block extra_head %}
<meta name="title" content="Blog - Regelmäßige Artikel rund um die Musikschule St. Pölten">
<meta name="description" content="Ab sofort werden hier in regelmäßigen Abständen Blog-Einträge rund um die Musik- und Kunstschule online gestellt.">

<style media="screen">
  .events-index-grid h3{
    text-align: center;
  }
  .mti img {
    max-width: 75%;
    height: auto;
  }
  .tmcb {
    min-height: 520px;
    grid-template-areas: 'mti mti';
  }
  @media only screen and (max-width: 1080px) {
    .tmcb {
      grid-template-areas:
      'mti';
    }
  }
  @media only screen and (max-width: 410px) {
    .container {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .tmcb {
      width: 100%;
    }
  }
</style>

{% endblock %}

{% block navbar %}
{% endblock %}
{% block banner %}

{% endblock %}
{% block body %}
<div class="mbs">
  <div class="container">
    {% if all_blogs %}
    <h1>Veröffentlichte Einträge</h1>
      <div class="events-index-grid">
        {% for blog in all_blogs %}
        <div class="tmcbpb">
          <div class="mti">
            <a href="post/{{blog.id}}/edit">
              <h3>{{ blog.title }}</h3>
              <img src="{{ blog.image.url }}" alt="">
            </a>
            <div class="tctm">
              <p>{{ blog.meta_description|linebreaks|truncatewords:30   }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="{% url 'create_blog_post' %}"><button type="button" name="button" style="margin-right: unset;">
        + Neuer Blog-Eintrag
        </button></a>
    {% else %}
    <h2>Derzeit sind noch keine Blog-Einträge vorhanden</h2>
    <p>Starten Sie jetzt mit Ihrem ersten Eintrag:</p>
    <a href="{% url 'create_blog_post' %}"><button type="button" name="button">
    + Neuer Blog-Eintrag
    </button></a>
    {% endif %}
  </div>
  {% endblock %}
  {% block footer %}

  {% endblock %}
