{% extends "templates/base.html" %}

{% load static %}
{% load i18n %}


{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/banner/team_banner.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/team_banner.jpg" alt="">

{% endblock %}

{% block title %}Passwort erfolgreich geändert{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Ihr Passwort wurde erfolgreich geändert!</h1>

</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
