{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">

{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/banner/team_banner.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/team_banner.jpg" alt="">

{% endblock %}

{% block title %}Passwort geändert{% endblock %}

{% block body %}
<h1>Passwort geändert</h1>
<p>Ihr Passwort wurde erfolgreich geändert. Sie können sich nun wieder <a href="{% url 'login' %}">einloggen</a>.</p>

{% endblock %}

{% block footer %}
{% endblock %}