{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">

{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/banner/team_banner.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/team_banner.jpg" alt="">

{% endblock %}

{% block title %}Email Sent{% endblock %}

{% block body %}
  <h1>Überprüfen Sie Ihren Posteingang.</h1>
  <p>Eine Mail mit Instruktionen sollte sich in Kürze in Ihrem Postfach befinden. Damit kann Ihr Passwort zurückgesetzt werden.</p>
{% endblock %}

{% block footer %}
{% endblock %}