{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">
<style>
    ul{
        display:grid;
    }
</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/banner/team_banner.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/team_banner.jpg" alt="">

{% endblock %}

{% block title %}Enter New Password{% endblock %}

{% block body %}

{% if validlink %}

<h1>Neues Passwort setzen!</h1>
<div class="container">
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button id="button-login" type="submit" value="Change my password">Passwort ändern</button>
</form>
</div>

{% else %}

<p>Dieser Passwort Link war leider ungültig oder wurde schon benutzt. Bitte wiederholen Sie den Vorgang erneut.</p>

{% endif %}
{% endblock %}
sd
{% block footer %}
{% endblock %}