{% extends "templates/base.html" %}

{% load static %}
{% load i18n %}


{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<style media="screen">
  p{
    padding:0;
  }
  form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/banner/team_banner.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/team_banner.jpg" alt="">

{% endblock %}

{% block title %}Registrierung{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    <h1>Passwortänderung</h1>
      <form method="POST">
    {% csrf_token %}
    <div class="col-4">
      <p>Altes Passwort:</p>
    </div>
    <div class="col-8">
      {{ form.old_password }}
    </div>
    <div class="col-4">
      <p>Neues Passwort:</p>
    </div>
    <div class="col-8">
      {{ form.new_password1 }}
    </div>
    <div class="col-4">
      <p>Wiederholung:</p>
    </div>
    <div class="col-8">
      {{ form.new_password2 }}
    </div>
    <div class="form-actions">
      <button type="submit">Speichern</button>
    </div>
  </form>
</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
