{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<meta name="robots" content="noindex">

{% endblock %}

{% block navbar %}
{% endblock %}


{% block title %}Passwort Reset{% endblock %}

{% block body %}
  <h1>Passwort zurücksetzen</h1>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Abschicken</button>
    </form>
  </div>
{% endblock %}


{% block footer %}
{% endblock %}
  