{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
<img src="/static/banner/team_banner.jpg" alt="">
<img id="mbimg" src="/static/banner/mobile/team_banner.jpg" alt="">

{% endblock %}

{% block title %}Registrierung{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    {% if user.is_authenticated %}
    <p>Willkommen, {{ user }}!</p>
    <h2>Registrierung</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
    {% else %}
    <h2>Sie sind nicht angemeldet</h2>
    <a href="/team/login">
      <button type="button" name="button">
        Log In
      </button>
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}
