{% extends "templates/base.html" %}

{% load static %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
{% endblock %}


{% block navbar %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block title %}Registrierung{% endblock %}

{% block body %}
<div class="mbs">
  <div class="container">
    {% if user.is_authenticated %}
    <h2>Registrierung</h2>
    <form method="post">
      {% csrf_token %}
      {% if form.errors %}
      <p><strong>Fehlermeldung:</strong></p>
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-error">
                  <p>
                    <strong>{{ field.label }}: </strong>{{ error|escape }}
                  </p>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-error">
            <p>
              <strong>{{ field.label }}: </strong>{{ error|escape }}
            </p>
          </div>
      {% endfor %}
      {% endif %} 
      <p>
        <label for="form.username.name">Benutzername:</label>
        {{ form.username}}
      </p>
      <p>
        <label for="form.first_name.name">Vorname:</label>
        {{ form.first_name }}
      </p>
      <p>
        <label for="form.last_name.name">Nachname:</label>
        {{ form.last_name }}
      </p>   
      <p>
        <label for="form.email.name">Email:</label>
        {{ form.email }}
      </p>
      <p>
        <label for="form.password.name">Passwort:</label>
        {{ form.password1 }}
      </p>
      <p>
        <label for="form.password2.name">Passwort:</label>
        {{ form.password2 }}
      </p>     
      <button type="submit">Sign up</button>
    </form>
    {% else %}
    <h2>Sie sind nicht angemeldet</h2>
    <a href="/intern/login">
      <button type="button" name="button">
        Log In
      </button>
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}


{% block footer %}
{% endblock %}
