main h1, main h2{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1rem;
}
p, a, li, ul{
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}
main.musica-container a{
    color: #00b0db !important;
}
a:hover{
    color: #00b0db !important;
}
#crossburger:hover circle{
    fill: #00b0db;
}
.nav .nav-link{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}   
.nav a{
    color: black;
}
.nav a:hover{
    color: white !important;
}
#sacra-nav-mobile-menu a:hover{
    color: unset !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: white;
    background-color: unset;
}
header ul.nav-pills{
    margin-top: 1.5rem;
}
#Logo_FMS{
    width: 10rem;
    margin-left: 2rem;
}
@media only screen and (max-width: 768px) {
    #Logo_FMS{
        margin-left: unset;
    }
}
@media only screen and (max-width: 625px) {
    #Logo_FMS{
        width: 8rem;
    }
    main.px-3 {
        margin-top: 4rem;
    }
}
header .mobileSacraNav, header .mobileSacraNav ul.nav{
    display:none;
}
#menuIcon{
    top: 0;
    position: absolute;
    left: 2rem;
    width: 4rem;
    height: 4rem;
}
#menuIcon > svg{
    margin-top: 1rem;
}
#sacraHamburger{
    display: none;
}
@media only screen and (max-width: 576px) {
    header ul.nav{
        display:none;
    }
    header .mobileSacraNav, header .mobileSacraNav ul.nav{
        z-index: 100;
        width: 0;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        background: white;
        background: #ffffffde;
        padding-top: 2rem;
    }
    .mobileSacraNav ul li{
        font-size: 1.8rem;
        margin: 1.5rem;
    }
    #sacraHamburger{
        display: block;
        position: absolute;
        left: 2rem;
        top: 2rem;
    }
}
@media only screen and (max-width: 525px) {
    header.py-4{
        padding-top: 1rem !important;
        margin-bottom: 0 !important;
        height: 6rem;
    }
    header ul.nav-pills{
        margin-top: 0;
    }
}
@media only screen and (min-width: 768px) {
    header ul.nav-pills li{
        margin-right: 2rem;
    }
}

footer a img{
    width: 2.5rem;
} 
footer a{
    margin: 2rem;
}
header{
    background: url("/media/bg/header_bg_1.png");
    background-position: center;
    background-repeat: inherit;
    max-height: 6.5rem;
}
main{
    margin-top: 6rem;
    margin-bottom: 5rem;
}
main p{
    padding-left: 5%;
    padding-right: 5%;
}
footer .copyright{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}