:root{
    --bs-link-color: unset;
    --bs-link-hover-color: unset;
    --bs-primary: unset;
    --bs-blue: unset;
}
#nav .active, #nav > li > a:focus{
    background: transparent;
}
main h1, main h2, main h3, main h4{
    font-family: 'Uniform', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1rem;
    letter-spacing: -0.02rem;
}
p, a, li, ul{
    font-family: 'Uniform', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    list-style-type: none;
    line-height: 1.7rem;
    letter-spacing: -0.01rem;
    text-decoration: none;
}
p > b{
    font-weight: bold;
}
button:hover, a:hover{
    cursor: pointer;
}
h2{
    font-size: 2.5rem;
}
bold{
    font-weight: bold;
}
main.musica-container a{
    color: #00b0db !important;
}
body > .cover-container{
    max-width: 2200px;
}
a:hover{
    color: #00b0db !important;
}
#crossburger circle{
    fill: #00b0db;
}
.nav .nav-link{
    font-family: 'Uniform', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -0.02rem;
}   
.nav a{
    color: black;
}
.nav a:hover{
    color: white !important;
}
#sacra-nav-mobile-menu a:hover{
    color: unset !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: white;
    background-color: unset;
}
#navMobileItems .nav-link.active{
    color: #00b0db !important;
}
header ul.nav-pills{
    margin-top: 1.5rem;
    z-index: 10;
}
.nav-pills {
    --bs-nav-pills-border-radius: unset;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: none;
}

#Logo_FMS{
    width: 10rem;
    margin-left: 2rem;
}
@media only screen and (max-width: 1000px) {
    #Logo_FMS{
        width: 8rem;
        margin-left: unset;
    }
    main.px-3 {
        margin-top: 4rem;
    }
}
header .mobileSacraNav, header .mobileSacraNav ul.nav{
    display:none;
}
#menuIcon{
    top: 0;
    position: absolute;
    left: 0;
    width: 4rem;
    height: 4rem;
}
#menuIcon > svg{
    margin-top: unset !important;
    padding: 2rem;
    width: 6rem;
    height: 6rem;
}
#sacraHamburger{
    display: none;
}
@media only screen and (max-width: 1000px) {
    header ul.nav{
        display:none;
    }
    header .mobileSacraNav, header .mobileSacraNav ul.nav{
        z-index: 100;
        width: 0;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        background: white;
        padding-top: 4rem;
    }
    .mobileSacraNav ul li{
        font-size: 1.8rem;
        margin: 1.5rem;
    }
    #sacraHamburger{
        display: block;
        position: absolute;
        left: 2rem;
        top: 2rem;
    }
}
@media only screen and (max-width: 350px){
    #sacraHamburger{
        left: 1.2rem;
    }
}
@media only screen and (max-width: 525px) {
    header.py-4{
        padding-top: 1rem !important;
        margin-bottom: 0 !important;
        height: 6rem;
    }
    header ul.nav-pills{
        margin-top: 0;
    }
}
@media only screen and (min-width: 768px) {
    header ul.nav-pills li{
        margin-right: 2rem;
    }
}
footer{
    padding-bottom: 3rem;
}
footer .copyright a img{
    width: 2.5rem;
}
footer .copyright a{
    margin: 2rem;
    text-decoration: unset;
    font-weight: unset;
    color: unset;
}
.copyright.text-center a{
    margin: unset;
}
header{
    background: url("/static/img/bg/header_bg_2.png");
    background: url("/static/img/bg/header_bg_2.webp");
    background-position: center;
    background-repeat: inherit;
    max-height: 6.5rem;
}
main{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
main p, .blog-index-grid, .events-index-grid{
    padding-left: 5%;
    padding-right: 5%;
}
main p:last-of-type{
    margin-bottom: 4rem;
}
main .justify-text p{
    text-align: initial;
}
main h1{
    text-transform: uppercase;
}
main h1:first-child{
    margin-bottom: 2rem;
}
footer .copyright{
    font-family: 'Uniform', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
    main p, .blog-index-grid, .events-index-grid{
        padding-left: 2%;
        padding-right: 2%;
    }
}
/*Events */
.event-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "sacra-event-date sacra-event-title" "sacra-event-time sacra-event-venue";
    margin-bottom: 4rem; 
}
.event-container.Konzert > .sacra-event-title{
    color: #088A52;
}
.event-container.Gottesdienst > .sacra-event-title{
    color: #00b0db;
}
.banner {
    grid-area: banner; }
  
.sacra-event-date {
    grid-area: sacra-event-date;
    text-align: right;
    margin-left: 25%; }
  
.sacra-event-title, .sacra-event-venue {
    border-left: 0.15rem #E9E9EA solid; }
  
.sacra-event-date > h2,{
    text-align: right;
    margin-bottom: 0;
 }
.event-container p:last-of-type{
    margin-bottom: 0;
}
.sacra-event-title {
    grid-area: sacra-event-title; }
  
.sacra-event-title > h2,
.sacra-event-title > h3 {
    text-align: left;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.sacra-event-title > h3{
    margin-top:0;
}
.sacra-event-time {
    grid-area: sacra-event-time;
    text-align: right; }
  
.sacra-event-time > p {
    margin-top: 0;
    text-align: right;
    padding: 0; }
  
.sacra-event-date, .sacra-event-time {
    padding-right: 2%; }

@media only screen and (max-width: 400px) {
    .sacra-event-date, .sacra-event-time {
        margin-left: 0; }
}
.sacra-event-venue {
    grid-area: sacra-event-venue; }
  
.sacra-event-venue > p {
    margin-top: 0;
    text-align: left;
    padding: 0; }
.sacra-event-venue > p:first-of-type{
    margin-bottom: 0;
}
.sacra-event-venue > p:last-of-type{
    margin-bottom: 0;
}
.sacra-event-title, .sacra-event-venue {
    padding-left: 1%; }
    
@media only screen and (max-width: 580px) {
    .sacra-event-title > h2,
    .sacra-event-date > h2{
        font-size: 1.5rem;
    }
    .all-events-container p {
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .event-container{
        grid-template-columns: 1fr 3fr;
    }
}
@media only screen and (max-width: 350px) {
    .sacra-event-title > h2,
    .sacra-event-date > h2{
        font-size: 1.2rem;
    }
    .all-events-container p,
    .all-events-container a {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}
/* Prices Site */
.prices-grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.prices-grid-container > div{ 
    text-align: center;
}
.prices-grid-container .prices-container ul li > span{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    color: white;
    margin-right: 1rem;
}

.prices-grid-container .prices-container ul li{
    margin-bottom: 1rem;
}

.prices-sacra-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0 1px 1px 0 rgba(60,64,67,.1),0 1px 3px 1px rgba(60,64,67,.2);
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.1),0 1px 3px 1px rgba(60,64,67,.2);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.prices-sacra-grid > div{
    text-align: left;
}
.prices-sacra-grid > div p{
    padding: 0;
    margin: 0;
}
.prices-sacra-grid .circle{
    margin: auto;
    align-items: center;
}
.prices-sacra-grid:last-of-type{
    margin-bottom: 4rem;
}
.prices-circle-section { 
    grid-area: 1 / 1 / 5 / 2; 
    display: flex;
}
.prices-abo-section { grid-area: 1 / 2 / 2 / 4; }
.abo-price-section { grid-area: 1 / 4 / 2 / 6; }
.abo-price-desc { grid-area: 2 / 2 / 3 / 6; }
.prices-single-section { grid-area: 3 / 2 / 4 / 4; }
.single-price-section { grid-area: 3 / 4 / 4 / 6; }
.single-price-desc { grid-area: 4 / 2 / 5 / 6; }

.prices-circle-section .circle{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    color: white;
    margin-left: auto;
    margin-left: auto;
    justify-content: center;
}
.prices-circle-section .circle.green{
    background-color: #088A52;
}
.prices-circle-section .circle.blue{
    background-color: #00b0db;
}
.prices-circle-section .circle.yellow{
    background-color: #FFF39E;
}
.circle{
    font-family: 'Uniform', sans-serif;
    font-weight: bold;
}
@media only screen and (max-width: 750px) {
    .prices-sacra-grid{
        grid-template-columns: repeat(4, 0.5fr);
        grid-template-rows: repeat(5, 0.5fr);
        padding: 1rem;
    }
    .prices-circle-section { grid-area: 1 / 1 / 2 / 6; }
    .prices-abo-section { grid-area: 2 / 1 / 3 / 4; }
    .abo-price-section { grid-area: 2 / 4 / 3 / 5; }
    .abo-price-desc { grid-area: 3 / 1 / 4 / 5; }
    .prices-single-section { grid-area: 4 / 1 / 5 / 4; }
    .single-price-section { grid-area: 4 / 4 / 5 / 5; }
    .single-price-desc { grid-area: 5 / 1 / 6 / 5;}
}
.sales p{
    margin-bottom: 0;
}
.sales h3{
    margin-top: 2rem;
}
.footer-grid-sacra{
    grid-template-columns: auto auto auto auto auto auto auto auto;    
    display: grid;
    margin-bottom: 2rem;
}
.footer-grid-sacra > img,
.footer-grid-sacra > a > img {
    max-width: 12rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
footer > .footer-grid-sacra{
    border-top: 1px solid #E9E9EA;
    border-bottom: 1px solid #E9E9EA;
}
@media only screen and (max-width: 1400px) {
    .footer-grid-sacra{
        grid-template-columns: auto auto auto auto auto auto;
    }
}
@media only screen and (max-width: 895px) {
    .footer-grid-sacra{
        grid-template-columns: auto auto auto auto auto;
    }
}
@media only screen and (max-width: 750px) {
    .footer-grid-sacra{
        grid-template-columns: auto auto auto auto;
    }
}
@media only screen and (max-width: 730px) {
    .footer-grid-sacra{
        grid-template-columns: auto auto auto;
    }
    .footer-grid-sacra >img{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
} 
@media only screen and (max-width: 600px) {
    .footer-grid-sacra{
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 400px) {
    .footer-grid-sacra{
        grid-template-columns: auto;
    }
}    

/* Slider Index */
slider {
    display: block;
    width: 100%;
    max-width: 2200px;
    height: calc(90vh - 12rem);
    max-height: 35rem;
    background-color: #f1f1f1;
    overflow: hidden;
    top: 6.5rem;
    margin-bottom: 8rem;
    position: absolute;
    z-index: -1;
}
  
  slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: fade 18s infinite;
    overflow: hidden;
    background-color: #f1f1f1;
    left: 0;
    right: 0;
    opacity: 0; }
  
  slide:nth-child(1) {
    left: 0%;
    animation-delay: 0s;
    background-image: url(/static/img/banner/slideshow/01.jpg);
    background-image: url(/static/img/banner/slideshow/01.webp);
    background-size: cover;
    background-position: top; }
  
  slide:nth-child(2) {
    left: 0%;
    animation-delay: 4.5s;
    background-image: url(/static/img/banner/slideshow/02.jpg);
    background-image: url(/static/img/banner/slideshow/02.webp);
    background-size: cover;
    background-position: top; }
  
  slide:nth-child(3) {
    left: 0%;
    animation-delay: 9s;  
    background-image: url(/static/img/banner/slideshow/03.jpg);
    background-image: url(/static/img/banner/slideshow/03.webp);
    background-size: cover;
    background-position: top; }

  slide:nth-child(4) {
    left: 0%;
    animation-delay: 13.5s;  
    background-image: url(/static/img/banner/slideshow/04.jpg);
    background-image: url(/static/img/banner/slideshow/04.webp);
    background-size: cover;
    background-position: top; }
  
  @keyframes fade {
    0% {
      opacity: 0; }
    /** fadeIn beginnt            **/
    11.11% {
      opacity: 1; }
    /** Bild steht                **/
    33.33% {
      opacity: 1; }
    /** Bild bleibt zwei Sekunden **/
    44.44% {
      opacity: 0; }
    /** fadeOut beendet           **/
    100% {
      opacity: 0; } 
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes fadeincookie {
    0% {
      opacity: 0; }
    75% {
      opacity: 0; }
    90% {
      opacity: 0.8; }
    100% {
      opacity: 1; }
}
  
  /* Standard syntax */
  @keyframes fadeincookie {
    0% {
      opacity: 0; }
    75% {
      opacity: 0; }
    90% {
      opacity: 0.8; }
    100% {
      opacity: 1; } 
}
#welcome-index-heading{
    margin-top:calc(90vh - 16rem);
}
@media only screen and (min-height: 870px) {
    #welcome-index-heading{
        margin-top: 30rem
    }
}

@media only screen and (max-width: 840px) {
    #welcome-index-heading{
        margin-top: auto;
    }
    header ul.nav-pills li{
        margin-right: 1rem;
    }
    #Logo_FMS {
        width: 8rem;
    }
    slider{
        display: none;
    }
}
@media (min-width: 768px){
    .me-md-auto {
        margin-right: unset !important;
      }
}
@media (min-width: 1000px){
    .me-md-auto {
        margin-right: auto !important;
      }
}
/* Event Index View */
.events-index-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.events-index-grid > a > div{
    background: #088A52;
    height: 20rem;
    padding-top: 1rem;
    background-position: center !important;
}
main.musica-container .events-index-grid > a,
main.musica-container .blog-index-grid > a{
    color: white !important;
    text-decoration: none;
    background: #088A52;
}
main.musica-container .blog-index-grid > a{
    background: transparent;
}
.events-index-grid h3{
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.circle-event{
    background: #088A52;
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
    margin-left: 2rem;
    padding-top: 0.75rem;
    margin-right: 1rem;
}
.event-title-index-grid{
    text-align: left;
    margin-left: 0;
    margin-top: 1rem;
}
.event-title-index-grid h3{
    text-transform: uppercase;
    background: #088A52;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-right: 50%;
    border-radius: 0 2rem 2rem 0;
}
.single-event-container h2,
.single-post-container h2{
    font-size: 2rem;
    margin-top: 0;
}
.single-event-container h1,
.single-post-container h1{
    margin-bottom: 1rem !important;
}
.single-event-container picture,
.single-post-container picture{
    display: inline-block;
    margin-bottom: 1rem;
    max-width: 1010px;
}
.single-event-container > picture > *
.single-post-container > *{
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
@media only screen and (max-width: 1010px) {
    .single-event-container > picture > *,
    .single-post-container > picture > *{
        max-width: 650px;
    }
}
@media only screen and (max-width: 650px) {
    .single-event-container > picture > *,
    .single-post-container > picture > *{
        max-width: 92vw;
    }
}
.single-event-container picture > p,
.single-post-container picture > p{
    margin-bottom: 1rem !important;
    text-align: center;
    display: block;
    background: #dcdcdc70;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
@media only screen and (max-width: 650px) {
    .single-event-container h2,
    .single-post-container h2{
        font-size: 1.5rem;
    }
}
/* User Interface */
button{
    width: auto;
    height: auto;
    background-color: #00afdb;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1rem;
    padding: 1rem;
}
#login-sacra-form {
    display: grid;
    grid-template-areas: "userText userInput userInput userInput" "passwordText passwordInput passwordInput passwordInput" "loginSave loginSave loginSave loginSave"; 
    margin: auto;
    width: 50%;
    margin-top: 4rem;}
  
#login-sacra-form > .user-text {
    grid-area: userText; }
  
#login-sacra-form > .user-text > p {
    margin-top: 0;
    text-align: right; }
  
#login-sacra-form > .user-input {
    grid-area: userInput; 
    text-align: left;}
  
#login-sacra-form > .password-text {
    grid-area: passwordText;}
  
#login-sacra-form > .password-text > p {
    margin-top: 0;
    text-align: right; }
  
#login-sacra-form > .password-input {
    grid-area: passwordInput; 
    text-align: left;}
  
#login-sacra-form > .user-login {
    grid-area: loginSave; }

form input{
    width: 70%;
    height: 2rem;
    margin-left: auto;
}
form textarea, form select{
    width: 70%;
    margin-left: auto;
}
header#user_nav ul.nav-pills{
   margin-left: auto;
}
form > p{
    display: flex;
    padding-bottom: 0.5rem;
}
form > p:first-of-type{
    margin-top: 2rem;
}
.alert.alert-error:last-of-type{
    margin-bottom: 2rem;
}
.alert.alert-error strong, form p strong{
    text-align: center;
    font-weight: bold;
    font-family: 'Uniform';
}
form ul.errorlist li{
    display:none;
}
.alert.alert-error p{
    margin: 0;
    text-align: left;
}
.ql-toolbar button{
    margin: unset;
}
.ql-toolbar > span{
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.django-quill-widget-container .ql-editor p{
    margin-bottom: 1rem;
}
.django-quill-widget-container{
    padding-left: 5%;
    padding-right: 5%;
}
.ql-editor{
    min-height: 20rem;
}
.image-form-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
}
.image-form-grid{
    text-align: left;
}
.image-form-grid > label[for=id_image]{
    text-align: left;
    grid-area: 1 / 1 / 2 / 6;
}
.image-form-grid > label[for=image-clear_id]{
    grid-area: 3 / 1 / 4 / 2;
}
.image-form-grid > #image-clear_id{
    grid-area: 3 / 2 / 4 / 3;
}
.image-form-grid-blog{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}
.image-form-grid-blog{
    text-align: left;
}
.image-form-grid-blog > label[for=id_image]{
    text-align: left;
    grid-area: 1 / 1 / 2 / 6;
}
.image-form-grid-blog > label[for=image-clear_id]{
    grid-area: 2 / 1 / 4 / 2;
}
.image-form-grid-blog > #image-clear_id{
    grid-area: 2 / 2 / 4 / 3;
}

/* Blog Index View */
.blog-index-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.blog-index-grid > a > div{
    background: transparent;
    height: 20rem;
    border-radius: 100%;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    background-position: center !important;
}
main.musica-container .blog-index-grid > a{
    color: black !important;
    text-decoration: none;
}
.blog-index-grid h3, .blog-index-grid p{
    text-align: left !important;
    padding: 0;
}
.blog-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "sacra-event-date sacra-blog-title" "sacra-event-time sacra-event-venue";
    margin-bottom: 4rem; 
}
.blog-title-index-grid{
    text-align: left;
    margin-left: 0;
    margin-top: 1rem;
}
.blog-title-index-grid h3{
    text-transform: uppercase;
    background: #088A52;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-right: 50%;
    border-radius: 0 2rem 2rem 0;
}
@media only screen and (min-width: 1700px) {
    .events-index-grid, .blog-index-grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 6rem 4rem;
    }
}
@media only screen and (max-width: 1200px) {
    .events-index-grid, .blog-index-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 900px) {
    .events-index-grid, .blog-index-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .events-index-grid > a > div{
        height:20rem;
    }
}
@media only screen and (max-width: 450px) {
    .event-title-index-grid h3{
        margin-right: 30%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .events-index-grid > a > div{
        height: 18rem;
    }
    .events-index-grid{
        gap: 2rem;
    }
}
@media only screen and (max-width: 375px) {
    p, a, li, ul{
        font-size: 5vw;
        line-height: 7vw;
        padding-left: 0;
    }
    h2{
        font-size: 7vw;
    }
    h3{
        font-size: 6vw;
    }
    footer .copyright{
        font-size: 5vw !important;
    }
    main{
        margin-bottom: 0;
    }
}