main h1, main h2{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1rem;
}
p, a, li, ul{
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}
.nav .nav-link{
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}   
.nav a{
    color: black;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: black;
    background-color: white;
}
header ul.nav-pills{
    margin-top: 1.5rem;
}
@media only screen and (min-width: 768px) {
    header ul.nav-pills li{
        margin-right: 2rem;
    }
}
#Log_FMS{
    width: 10rem;
}
footer a img{
    width: 3rem;
} 
footer a{
    margin: 2rem;
}
header{
    background: url("/media/bg/header_bg_1.png");
    background-position: center;
    background-repeat: no-repeat;
    max-height: 6.5rem;
}
main{
    margin-top: 10rem;
}