{% extends "templates/base.html" %}

{% load static %}

{% load thumbnail %}

{% block extra_head %}

<!-- HTML Meta Tags -->
<title>{{ blog_post.content_title }}</title>
<meta name="description" content="{{ blog_post.text }}">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ blog_post.content_title }}">
<meta itemprop="description" content="{{ blog_post.content_lead }}">
<meta itemprop="image" content="{% static 'meta/sacra.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at/{{blog_post.published_year}}/{{blog_post.slug}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ blog_post.title }}">
<meta property="og:description" content="{{ blog_post.content_lead }}">
<meta property="og:image" content="{{ blog_post.image }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ blog_post.content_title }}">
<meta name="twitter:description" content="{{ blog_post.content_lead }}">
<meta name="twitter:image" content="{{ blog_post.image }}">

{% endblock %}

{% block body %}
<div class="single-post-container">
    <h1>{{ blog_post.title }}</h1>
    <p>{{ blog_post.lead_paragraph }}</p>
    <!--- Banner -->
    <picture>
        {% thumbnail blog_post.image "1010x500" crop="center" format="JPEG" as im %}
        <source media="(min-width:1010px)" srcset="{{ im.url }}">
        {% endthumbnail %}
        {% thumbnail blog_post.image "650x445" crop="center" format="JPEG" as im_m %}
        <source media="(min-width:650px)" srcset="{{ im_m.url }}">
        {% endthumbnail %}
        {% thumbnail blog_post.image "650x445" crop="center" format="JPEG" as im_sm %}
        <img src="{{ im_sm.url }}" alt="{{ blog_post.image_desc }}">
        {% endthumbnail %}

        {% if blog_post.image_desc %}
        <p>{{ blog_post.image_desc }}</p>
        {% endif %}
    </picture> 
    <div class="justify-text">
      {{ blog_post.content.html|safe }}
    </div>
</div>

{% endblock %}
{% block footer %}

{% endblock %}
