{% extends "templates/base.html" %}

{% load static %}
{% block extra_head %}
{% load thumbnail %}

<meta name="title" content="Blog - Regelmäßige Artikel rund um das Festival Musica Sacra">
<meta name="description" content="Ab sofort werden hier in regelmäßigen Abständen Blog-Einträge rund um das Musik Festival Musica Sacra online gestellt.">


{% endblock %}

{% block body %}

<h1>Blog Beiträge</h1>

{% if all_blogs %}
<div class="blog-index-grid">
    {% for blog in all_blogs %}
    <a href="{{blog.published_year}}/{{blog.slug}}">
    <div {% if blog.image %} 
    {% thumbnail blog.image "700" crop="center" format="JPEG" as im %} 
    style="background: url({{ im.url }});"
    {% endthumbnail %}
    {% endif %}>
    </div>
    <h3>{{ blog.title }}</h3>
    <p><b>{{ blog.date }}:</b> {{ blog.meta_description|truncatewords:30 }}</p>
    </a>
    {% endfor %}
</div>
{% else %}
<p>Derzeit befinden sich noch keine Einträge in unserer Datenbank.</p>
{% endif %}
{% endblock %}
{% block footer %}

{% endblock %}
