{% extends "templates/base.html" %}

{% load static %}

{% load thumbnail %}

{% block extra_head %}
<!-- HTML Meta Tags -->
<title>{{ event.content_title }}</title>
<meta name="description" content="{{ event.text }}">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ event.content_title }}">
<meta itemprop="description" content="{{ event.content_lead }}">
<meta itemprop="image" content="{% static 'meta/sacra_24.jpg' %}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://festival-musica-sacra.at/{{event.published_year}}/{{event.slug}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ event.title }}">
<meta property="og:description" content="{{ event.content_lead }}">
<meta property="og:image" content="{{ event.image }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ event.content_title }}">
<meta name="twitter:description" content="{{ event.content_lead }}">
<meta name="twitter:image" content="{{ event.image }}">
{% endblock %}


{% block body %}
<div class="single-event-container">
    <h1>{{ event.content_title }}</h1>
    <p>{{ event.content_lead }}</p>
    <!--- Banner -->
    <picture>
        {% thumbnail event.image "1010x500" crop="center" format="JPEG" as im %}
        <source media="(min-width:1010px)" srcset="{{ im.url }}">
        {% endthumbnail %}
        {% thumbnail event.image "650x445" crop="center" format="JPEG" as im_m %}
        <source media="(min-width:650px)" srcset="{{ im_m.url }}">
        {% endthumbnail %}
        {% thumbnail event.image "650x445" crop="center" format="JPEG" as im_sm %}
        <img src="{{ im_sm.url }}" alt="{{ event.image_desc }}">
        {% endthumbnail %}

        {% if event.image_desc %}
        <p>{{ event.image_desc }}</p>
        {% endif %}
    </picture> 

    {{ event.content.html|safe }}
    <br>
    
    {% if event.ticket_url %}
    <h2>KARTEN</h2>
    <p>Karten sind ab sofort online erhältlich unter: <a target="_blank" href="{{ event.ticket_url }}">https://oeticket.com</a></p>
    <br>
    {% endif %}

    {% if event.program_folder %}
    <h2>PROGRAMMHEFT</h2>
    <p>Das aktuelle Programmheft zu {{ event.content_title }} finden Sie unter diesem Link zum Download: <a target="_blank" href="{{ event.program_folder.url }}">Programmheft</a></p>
    {% endif %}
</div>
{% endblock %}
{% block footer %}

{% endblock %}